.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .cards-place {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 80%;
    background-size: 70%;
    background-position: center;
    will-change: opacity;
  }
  